		* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}




}




/*landing page*/

.jumbotron hr{
	background-color: #fff;
}

a{
	text-decoration: none;
	color: grey;

}

#jumbo-land{
	height: 100vh;
	padding-top: 20%;
	background-image: url(../images/card1.jpg);
	background-repeat: no-repeat;
	border-radius: 0;
	background-position: center center;
	background-size: cover;
	margin-bottom: 0;
}

.jumbotron h1{
	color: #f2f2f2;
}

/*#landing {
	background-color: black;

}*/

#btn1 {
	padding: 20px 40px;
	
	opacity: 0.3;
	margin-top: 120px;
	
	color: red;
	font-family: 'Allerta Stencil', sans-serif;
	text-decoration: none;
	font-size: 20px;
		
}





.down {
	position: absolute;
	bottom: 0;
	
	left: 50%;
	transform: translate(-50%, -200%);
	background-color: grey;
	opacity: 0.6;
	padding: 5px 60px;
	border-radius: 10px;
}

/*end of landing page*/


.navbar {
	background-color: black;


}


.navbar-brand {
	font-family: 'Cantarell', sans-serif;
	color: white;
}

#mediapic {
	height: 400px;
	
	padding: 0;
	margin: 0 auto;	
	
	/*padding-left: 500px;*/
	padding-right: 500px;
	background-position: center center;
	background-color: black;
	}	



#main1 {
	margin: 0 auto;
}


#share1 {
	color: grey;
	opacity: 0.7;
	font-family: 'Source Serif Pro', serif;
}
.soc {
	float: left;
	height: 20px;
	width: 20px;
	
    margin-top: 300px;	
}


#imgfg1 {
	margin-right: 20px;
}




#may {
	height: 50px;
	width: 100%;
}


.media {
	margin-top: 80px;
}

#titA {
font-family: 'Source Serif Pro', serif;
}

#p2 {
	margin-top: 20px;
	text-align: left;
	font-family: 'Source Serif Pro', serif;
	font-size: 16px;
}

#maxgif  img {
	margin-bottom: 30px;
	float: left;
}

#newsfeed {
	padding-left: 30px;
	padding-right: 0;
	border: 1px solid #D6D6D6;
	margin-top: 20px;
	padding: 0;
	margin-bottom: 30px;

}

#newsheader {
	background-color: #FF2D2D;
	font-family: 'Merriweather Sans', sans-serif;
	color: #F9F9F9;

}
#news-image {
	height:150px;
	width: 200px;
	margin: 0 auto;
	margin-top: 10px;
	font-size: 10px;
}

#pn {
	font-size: 12px;
	color: black;
}

#news3 {
	color: #F9F9F9;
	font-family: 'Allerta Stencil', sans-serif;
}

#merc {
	margin-top: 30px;
	height: 400px;
}

h4 {
	margin-top: 0;
}


#ufcmerc {
	font-family: 'Roboto Slab', serif;
	color: #1C1C1C;
}



a:hover {
	text-decoration: none;
	color: red;
}

h5 {
	margin-top: 80px;
	margin-top: 30px;
	text-align: left;
}

.checker{
	border: 2px solid yellow;
}


#show {
	
	padding-top: 20%;
	
	margin-bottom: 0;
}

.jumbotron h1{
	color: #f2f2f2;
}

#landing {
	background-color: black;

}

#btn2 {
	padding: 20px 80px;
	margin: 0 auto;
	opacity: 0.8;
	margin-top: 80px;
	align-content: center;
	text-decoration: none;
	font-size: 20px;
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 3px;
		
}





.clear:after {
	content: " ";
	clear: both;
	display: block;
}

.gallery {
	padding: 30px;
	margin-bottom: 60px;
}



.column {
	width: 31%;
	margin-left: 1.16%;	
	margin-right: 1.16%;
	float: left;
}


.gallery > .column {
	width: 31%;
	margin-left: 1%;
	margin-right: 1%;
}

img[alt*="gallery"] {
	width: 100%;
	height: 300px;
	display: block;
	
}





/*===========index.html============*/

.footer {
	background-color: black;
	color: white;
	x
	
	

}


#cont {
	color: white;
	font-family: 'Allerta Stencil', sans-serif;

}

.bodycontact {
	background-image: url(../images/cage.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.form-group {
	color: white;
}

/*======start about.html=======*/

#jumbotron-about {
	background-color: #141414;
	height: 90vh;
	border-radius: 0;
	margin-bottom: 0;
}

#landing-about {
	color: #f2f2f2;
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
	font-family: 'Cantarell', sans-serif;
}

.about-tags {
	font-weight: bold;
	font-family: "montserrat", sans-serif;
}

#mission {
	height: 100%;
	background-color: #141414; /*off black;*/
	color: #f2f2f2; /*off white*/
	padding-top: 100px;
	padding-right:300px;
	padding-left: 300px;
	padding-bottom: 100px;
}

#vision{
	height: 100%;
	background-color:#f2f2f2;
	color:#141414;
	padding-bottom: 80px;
}


#raelog {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	float: right;
}

.media-body {
	margin-bottom: 110px;
}


/*=========gallery.html========*/
#head-gal {
	
	background-color: #141414;
	color: #f2f2f2;
	text-transform: uppercase;
	letter-spacing: 0.53em;
}

#header1 {
	background-color: black;
}

#vscont {
	height: 300px;
	/*background-image: url(../images/vs.jpg);*/
	background-size: cover;
	background-color: black;
}

#carousel-home img {
	height: 300px;
	width: 400px;
}

/*=====animation ======*/
#carous12 {
	animation-name: bounceInDown;
	animation-duration: 1s;
}

#gallery-items {
	animation-name: fadeIn;
	animation-duration: 9s;
}

#q1 {
	font-family: 'Raleway', sans-serif;
}

#qoute {
	float: right;
	margin-bottom: 100px;
	margin-left: 50px;
}

#joanna {
	margin-top: 50px;
}

#maincard1 {
	font-family: 'Titillium Web', sans-serif;
}


#gallery-items .card {
	height: 400px;
	/*margin-bottom: 10px;
	margin-top: 10px;*/
	border-color: white;
	color: #242423;
	font-family: 'Raleway', sans-serif;

}

#gallery-items img:hover {
 transform: scale(1.1);
}





/*===gallery====*/

 /*end about us*/

	
/* nice bootstrap ready facebook share button http://justincron.com */

.btn-facebook {
	color: #fff;
	background-color: #4C67A1;
}
.btn-facebook:hover {
	color: #fff;
	background-color: #405D9B;
}
.btn-facebook:focus {
	color: #fff;
}


#f1 {
	width: 33%;
	float: left;
}


/*======contact.html==========*/

/*.contact {
	height: 50px;
	width: 50px;
	box-sizing: content-box;
}
*/

.footer {
	height: 100%;
}


#contactinfo {
	margin-bottom: 100px;
	height: 100vh;
	margin-top: 20px;
}

.contact img {
	right: 0;
	height: 40px;
	width: 40px;
	display: inline-block;
	padding: 5px;
	margin-top: 10px;
/*	margin-bottom: -10px;
	float: right;*/
}

iframe {
	margin-top: 30px;
}

#foot {
	padding-top: 20px;
	position: relative;
}





@media only screen and (min-width: 300px) and (max-width: 960px)
{
	
.soc {
	position: absolute;
	margin-left: 10px;
	padding-top: 90px;
	float: right;
	
}
	.gallery .column {
		float: none;
		width: 100%;
		margin-bottom: 5px;
	}

	#mission {
		padding-right: 30px;
		padding-left: 30px;
	}

	#vscont {
		width: 100%;
		height: 100%;
	}


.contact img {
	position: absolute;
	transform: translate(-120px,-20%);
	right: 0;
	height: 50px;
	width: 50px;
	display: inline-block;
	padding: 5px;
/*	margin-bottom: -10px;
	float: right;*/
}
.contact img[src*="gtb"] {
	position: absolute;
	right: 0;
	transform: translate(-70px, -20%);
}
.contact img[src*="lnk"] {
	position: absolute;
	right: 0;
	transform: translate(-20px, -20%);
}


/*.carousel-item {
	animation-name: bounce;
	animation-duration: 1s;
}

#gallery-items {
	animation-name: fadeIn;
	animation-duration: 5s;
}*/